body {
    background-color: rgb(92, 95, 110);
    color: rgba(190, 190, 190, 0.6);
}

p {
    color: rgba(210, 210, 210, 0.7);
}

a {
    color: rgba(121, 65, 143, 0.9);
}

input {
    background-color: rgba(60, 60, 60, 0.8);
    color: seashell;
    border: none;
}

nav {
    background-color: rgba(50, 50, 50, 0.8);
}

footer {
    background-color: rgba(50, 50, 50, 0.8);
}

.background {
    background-image: url(https://media.giphy.com/media/XEsIimN7BUzzh6hbED/giphy.gif);
    }

.bg-layer {
    background-color: rgba(80, 80, 80, 0.7);
}